.logo-lg{
    width: 50px;
    height: 50px;
}

.logo-klb{
    background: url("../img/logo-2.png");
    background-size: 100%;
}

.klb-skin{
    color: #fff;
    background-color: #3a8d0f;
    border-color: #3a8d0f;
}

.js-color{
    color: #f39c12 ;
}
.js-skin{
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12; 
}
.vc-color{
    color: #3c8dbc;
}
.vc-skin{
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc; 
}

.service-content p{
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 85%;
}
.service-content {
    max-width: 220px;
    margin: auto;
}