<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <!-- <li class="header">Miniarch菜单</li>-->
    <!-- Optionally, you can add icons to the links -->
    <!--<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>-->
    <li ng-repeat="m in sysMenus | filter:constrainsMenus" ng-class="{active:m.opened, treeview: m.parentFlag}">
        <a href="#{{m.nodeUri}}" ng-click="updateActiveTab(null,m)">
            <i class="{{m.icon}}"></i>
            <span>{{m.nodeName}}</span>
            <i  ng-show="!!m.subMenus" class="fa fa-angle-left pull-right"></i>
        </a>
        <ul ng-show="!!m.subMenus" class="treeview-menu">
            <li ng-repeat="s1m in m.subMenus | filter:constrainsMenus" class="{{s1m.checked | filter:{true:'active'} }}">
                <a href="#{{s1m.nodeUri}}" ng-click="updateActiveTab(s1m,m)">
                    <i class="{{s1m.icon}}"></i><span>{{s1m.nodeName}}</span>
                    <i ng-show="!!s1m.subMenus" class="fa fa-angle-left pull-right"></i>
                </a>
                <ul ng-show="!!s1m.subMenus" class="treeview-menu">
                    <li ng-repeat="s2m in s1m.subMenus | filter:constrainsMenus" class="{{s2m.checked | filter:{true:'active'} }}">
                        <a href="#{{s2m.nodeUri}}" ng-click="updateActiveTab(s2m,m)">
                            <i class="{{s2m.icon}}"></i><span>{{s2m.nodeName}}</span>
                        </a></li>
                </ul>
            </li>

        </ul>
    </li>
</ul><!-- /.sidebar-menu -->