<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <div class="box-title">数据库重置</div>
            </div>
            <div class="box-body">
                <div class="col-md-3"><button ng-click="resetDataBase()">重置数据库</button></div>
                <div class="col-md-9">{{resetDataBaseMsg}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <div class="box-title">重置权限</div>
            </div>
            <div class="box-body">
                <div class="col-md-3"><button ng-click="resetSysUris()">重置权限</button></div>
                <div class="col-md-9 height-control" style="height: 500px;overflow-y: auto">
                    <input ng-model="resetSysUrisFilter.uri">
                    {{resetSysUrisMsg}}
                    <div ng-repeat="uri in sysUris |filter:resetSysUrisFilter">{{uri.uri}}</div>
                </div>
            </div>
        </div>
    </div>
</div>