<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <import resource="classpath*:applicationContext-web.xml"/>
    <import resource="classpath*:applicationContext-db.xml"/>


    <bean id="default_space" class="cn.remex.db.rsql.connection.RDBSpaceConfig">
        <property name="space" value="default"/>
        <property name="type" value="mysql"/>
        <property name="dialectClass"
                  value="cn.remex.db.rsql.connection.dialect.MysqlDialect"/>
        <property name="url" value="jdbc:mysql://101.200.75.191:3306/KLB?characterEncoding=utf-8"/>
        <!--
                <property name="url" 		value="jdbc:oracle:thin:@192.168.1.123:1521:orcl"></property>
                 <property name="url" 		value="jdbc:oracle:thin:@localhost:1521:orcl"></property>  -->
        <property name="username" value="root"/>
        <property name="password" value="UR4miniants"/>
        <property name="maxconn" value="10"/>
        <!-- 配置用于建立数据库模型的包，不支持通配符。自动支持子包。建议数据模型的包都建立在一个大包下面。 -->
        <property name="ormBeanPackages">
            <list>
                <value>cn.remex.model</value>
                <value>zhb.aias.model.vehicle</value>
            </list>
        </property>
    </bean>

    <bean class="cn.remex.web.service.ServiceFactory">
        <property name="bsPackages">
            <list>
                <value>cn.remex.web.service</value>
                <value>zbh.aias</value>

            </list>
        </property>
    </bean>

</beans>