<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<bean class="cn.remex.web.soa.server.provider.SoaProviderInitializer"></bean>
	<!-- 面向服务架构开发参数配置 -->
	<!-- 以下为示例 -->
	<!-- <bean class="SoaConfig">
			本机服务模式 bus(总线模式)/provider(服务供应模式)/isolation(孤立模式)/client(纯客户端模式，默认值)
			<property name="mode" value="bus"></property>
			本机服务地址
			<property name="hostName" value="busserver"></property>
			<property name="address" value="192.169.0.55"></property>
			<property name="port" value="9088"></property>
			<property name="servicePort" value="9098"></property>
			当本机是provider/clent时，需要调用busServer时，必须配置server参数
			<property name="busServer">
				<map>
					<entry key="hostName" value="192.169.0.55"></entry>
					<entry key="address" value="192.169.0.55"></entry>
					<entry key="port" value="8088"></entry>
				</map>
			</property>
	</bean> -->
</beans>