<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="true">

    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RemexFilter</filter-name>
        <filter-class>cn.remex.web.RemexFilter</filter-class>
        <init-param>
            <description>标示是否需要采用Remex的URL验证模式</description>
            <param-name>needAuthenticate</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <description>登陆页面</description>
            <param-name>loginUri</param-name>
            <param-value>/main/index.jsp</param-value>
        </init-param>
        <init-param>
            <description>不需要验证的目录，这里仅仅存放登陆验证等文件。并要主要ntfs权限控制以防木马等。</description>
            <param-name>permitUriPres</param-name>
            <param-value>
                /RemexUI/pub;
                /RemexUI/framework/libraries;
                /RemexUI/framework/comm;
                /RemexUI/component/plugins;
                /RemexUI/opensource;
                /RemexUI/themes;
                /main/images;
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RemexFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Spring-MVC-Remex2</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:sp-servlet.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Spring-MVC-Remex2</servlet-name>
        <url-pattern>/smvc/*</url-pattern>
    </servlet-mapping>

    <!-- 解决HTTP PUT请求Spring无法获取请求参数的问题 -->
    <filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <servlet-name>Spring-MVC-Remex2</servlet-name>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
